@{
}

<div class="jumbotron">
	<h1>HR homework assignment</h1>
	<p class="lead">Simple chat with registration and communication via public and private messages.</p>
	<p><a href="@Url.Action("Index", "Chat")" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
</div>

<div>
	<h2>Implementation details</h2>
	<p>
		Chat is based on ASP.NET MVC5, WebSockets and KnockoutJs.
		<br />
		For simplicity:
		<ul>
			<li>there is no inputs validation except checking required fields;</li>
			<li>return url is not implemented;</li>
			<li>there is no helper messages, such as "Registration completed" and others;</li>
			<li>only a few classes are covered by unit test;</li>
			<li>users data stored in memory, another storage can be used by implementing IUserRepository interface;</li>
			<li>...and more others imperfections.</li>
		</ul>
	</p>
</div>