@using Chat.Resources

@{
	ViewBag.Title = ChatResource.Title;
}

<div id="chat-container">
	<div class="row">
		<div class="col-md-10">
			<div class="chat-messages">
				<table id="messages-table" class="table table-striped">
					<tbody data-bind="foreach: messages">
						<tr data-bind="css: 'chat-message-' + type">
							<td data-bind="text: text"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2">
			<h4>@ChatResource.OnlineUsersLabelText:</h4>
			<div class="list-group" data-bind="foreach: users">
				<div class="list-group-item" data-bind="text: $data"></div>
			</div>
		</div>
	</div>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="@ChatResource.MessageInputPlaceholderText" data-bind="textInput: message, event: { keyup: onEnter }" />
		<span class="input-group-btn">
			<button id="sendMsg" class="btn btn-primary" data-bind="click: sendMessage, enable: !!message()">@ChatResource.SendMessageButtonText</button>
		</span>
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/chat")
}